.circle-1 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-1.png") 0 0 no-repeat;
}
.circle-2 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-2.png") 0 0 no-repeat;
}
.circle-3 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-3.png") 0 0 no-repeat;
}
.circle-4 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-4.png") 0 0 no-repeat;
}
.circle-5 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-5.png") 0 0 no-repeat;
}
.circle-6 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-6.png") 0 0 no-repeat;
}
.circle-7 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-7.png") 0 0 no-repeat;
}
.circle-8 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-8.png") 0 0 no-repeat;
}
.circle-9 {
    background: url("https://car-chehly.ru/assets/template/png/circles/circle-9.png") 0 0 no-repeat;
}